*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#FFF5C3,#FFE48F);

transition:.4s;
}

.container{

width:380px;

padding:30px;

border-radius:25px;

background:rgba(255,255,255,.25);

backdrop-filter:blur(20px);

box-shadow:0 15px 35px rgba(0,0,0,.2);

text-align:center;

}

h1{

color:#444;

margin-bottom:20px;

}

#clock{

font-size:55px;

font-weight:bold;

margin-bottom:25px;

color:#333;

}

.setAlarm{

display:flex;

gap:10px;

margin-bottom:20px;

}

input{

flex:1;

padding:12px;

border:none;

border-radius:12px;

font-size:16px;

outline:none;

}

button{

padding:12px 20px;

border:none;

border-radius:12px;

cursor:pointer;

background:#FFD54F;

font-size:16px;

font-weight:bold;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

background:#FFC107;

}

ul{

list-style:none;

margin-top:15px;

}

li{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:12px;

margin:10px 0;

border-radius:12px;

}

.delete{

background:#ff5b5b;

color:white;

padding:8px 15px;

}

#modeBtn{

position:absolute;

top:20px;

right:20px;

width:55px;

height:55px;

border-radius:50%;

font-size:22px;

}

.dark{

background:linear-gradient(135deg,#1d1d1d,#111);

}

.dark .container{

background:rgba(255,255,255,.08);

color:white;

}

.dark #clock{

color:#FFD54F;

}

.dark h1{

color:white;

}

.dark li{

background:#333;

color:white;

}
